.modal {
  z-index: 20;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 27em;
  height: 25em;
  padding: 4em 0.5em 1em;
  background-color: #fff;
  box-shadow: 0px 0px 3px 2px;
  top: 7em;

  &__button-close {
    position: absolute;
    padding: 10px;
    border: none;
    background: transparent;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    font-weight: 1000;
    font-size: 1em;
    cursor: pointer;
  }

  &__button {
    width: 70%;
    border-radius: 25px;
    background-color: #000;
    height: 12%;
    border: none;
    color: #fff;
    cursor: pointer;

    & i {
      font-size: 150%;
      margin: 0 10px;
    }
  }
  &__forgot-password {
    &:visited,
    &:link {
      color: #000;
    }
  }

  &__register {
    a {
      &:visited,
      &:link {
        color: #000;
        text-decoration: none;
      }
    }
  }
}
