$primary: rgb(221, 103, 24); 

*, #root{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body{
    font-family: Arial, Helvetica, sans-serif;

}

#root{
    width: 100vw;
    height: 100vh;
}

.logo{
    width: 10%;
    height: 60%
}

.header{
    display: flex;
    justify-content: center;
    gap: 5%;
    align-items: center;
    background-color: #fff;
    height: 10%;

    &__dialog{

        &:link,
        &:visited{
            color: #000;
            text-decoration: none;
        }

        &:hover{
            text-decoration: underline;
        }

        & span{
            font-size: 60%;
        }
    }

    &__dropdown-container{
        position: relative;
    }

    &__dropdown{
        width: 40em;
        height: 19em;
        top: 110%;
        box-shadow: -1px -1px 6px -1px #0005;
        border: none
    }

    &__button{
        font-family:Arial, Helvetica, sans-serif;
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 1em;
        padding: 5px
    }


    &__searchbar{
        width: 30%;
        height: 70%;

        &__input{
        width: 90%;
        height: 100%;
        border: none;
        font-size: 1em;

        &:focus{
            outline: none;
        }
        }
    }
}



.main{
    background-color: #fff;
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    padding: 7em 5em 0;

    &__left{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 10px;

        &__title{
            font-size: 3em;
            width: 50%;
            align-self: flex-start;
            color: $primary;
        }

        &__subtitle{
            font-weight: 300;
        }

        &__text{
            color: #666;
            font-size: 1.1em
        }

        &__buttons{
            width: 70%;
            height: 3em;
            display: flex;
            align-items: center;
            gap: 4%;
            align-self: flex-start;
        }

        &__button{
            width: 40%;
            height: 100%;
            background-color: $primary;
            border: none;
            border-radius: 7px;
            color: #fff;
            font-size: 1em
        }
    }

    &__right{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
        width: 100%;

        &__img{
            width: 100%;
            object-fit: contain;
            object-position: bottom;
        }
    }
}

.modal{
    z-index: 20;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 27em;
    height: 25em;
    padding: 4em 0.5em 1em ;
    background-color: #fff;
    box-shadow: 0px 0px 3px 2px;
    top: 7em;

    &__button-close{
        position: absolute;
        padding: 10px;
        border: none;
        background: transparent;
        top: 0;
        left: 0;
        width: 10px;
        height: 10px;
        font-weight: 1000;
        font-size: 1em;
        cursor: pointer;
    }

    &__button{
        width: 70%;
        border-radius: 25px;
        background-color: #000;
        height: 12%;
        border: none;
        color: #fff;
        cursor: pointer;

        & i{
            font-size: 150%;
            margin: 0 10px
        }
    }

    .facebook{
        background-color: #1a1affdd;
    }

    .google{
        background-color: #fff;
        color: #000;
        border: 1px solid #000
    }

    &__forgot-password{
        &:visited,
        &:link{
            color: #000
        }
    }

    &__register{
        a{
            &:visited,
            &:link{
            color: #000;
            text-decoration: none
        }
        }
    }

}

.blackened-theme{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0003;
    z-index: 10;
}

.footer{
    visibility:hidden;
    width: 100%;
    height: 20%;
    background-color: $primary
}